@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IranSans;
  src: url("/fonts/IRANSans.ttf");
  font-weight: normal;
}
@font-face {
  font-family: IranSans;
  src: url("/fonts/IRANSans_bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: IranSans;
  src: url("/fonts/IRANSans_Light.ttf");
  font-weight: light;
}

@font-face {
  font-family: "IRANYekanXVF";
  src: url("/fonts/IRANYekanXVFaNumVF.woff") format("woff-variations"),
    /* will be the standard and works in Safari now */
      url("/fonts/IRANYekanXVFaNumVF.woff") format("woff");
  /* for the other supporting browsers */
  font-weight: 100 1000;
  font-display: fallback;
}

body {
  /* font-family: "IranSans", sans-serif; */
  direction: rtl;
  text-align: right;
  font-size: 16px;
  /* background-color: #f5f7f9; */
  background-color: #fff;
  color: #5d6f7e;
}
@supports (font-variation-settings: normal) {
  body {
    font-family: "IRANYekanXVF", tahoma;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

a:hover {
  text-decoration: underline !important;
}

/* slider */
.slick-arrow {
  background: white !important;
  top: -42px !important;
  left: 0 !important;
  right: unset !important;
  z-index: 9;

  background-image: url("/img/arrow.svg") !important;
  background-size: 6px 12px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  content: "" !important;
  width: 35px !important;
  height: 35px !important;
  border-radius: 100%;

  padding: 10px !important;
}

.slick-prev {
  left: 0 !important;
  background-image: url("/img/arrowRev.svg") !important;
}
.slick-next {
  left: 50px !important;
}

.slick-prev::before,
.slick-next::before {
  content: "" !important;
}

input:focus-within {
  outline: 0 !important;
}

/* react selecet */
.reactSelect {
  width: 100%;
}
.reactSelect____indicator-separator {
  display: none;
}

.reactSelect____placeholder {
  color: #1c1c1e !important;
}

.reactSelect____control {
  border-color: #1c1c1e !important;
  background-color: transparent !important;
}
.reactSelect____dropdown-indicator svg {
  fill: black;
}

.inputProj {
  background: rgba(216, 216, 216, 0.1);
  border: 1px solid #62666d;
  border-radius: 10px;
  padding: 10px 15px;
}
.selectStemp__control {
  border: none !important;
  border-bottom: solid 1px #cecece !important ;
  box-shadow: none !important;
}
.selectStemp__indicator-separator {
  display: none !important;
}

.required::after {
  content: "*";
  color: red;
}
video {
  object-fit: cover;
}

.chromeScrollBar ::-webkit-scrollbar {
  width: 0 !important;
  height: 10px !important;
  background-color: #f5f5f5;
}

.chromeScrollBar ::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #c7c7c7;
}
.chromeScrollBar ::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #f5f5f5;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background-color: rgba(255, 255, 255, 0.4) !important;
  opacity: 1 !important;
  width: 6px;
  height: 6px;
}
.swiper-pagination-bullet-active {
  width: 16px !important;
  height: 6px !important;
  border-radius: 6px !important;
}

/* .xxxx {
  animation: strok 1.5s reverse;
  stroke: black;
  fill: transparent;
  stroke-width: 5px;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 400;
} */

.curveFirst {
  fill-opacity: 0;
  stroke-width: 8px;
  stroke: black;
  stroke-dashoffset: 3000;
  stroke-dasharray: 3000;
  stroke-opacity: 1;
}

.firstLine {
  fill-opacity: 0;
  stroke-width: 7px;
  stroke: black;
  stroke-dashoffset: 3000;
  stroke-dasharray: 3000;
  stroke-opacity: 1;
  /* , opacityAn 0.1s 0.5s linear forwards; */
}
.firstLine[data-aos="active11"] {
  animation: completeLine 3.5s 3s linear forwards;
}
.firstLine.active {
  animation: completeLine 3.5s 3s linear forwards;
}

.curveFirst[data-aos="active11"] {
  animation: completeLine 6.5s 3s linear forwards;
}
.curveFirst.active {
  animation: completeLine 6.5s 3s linear forwards;
}
@keyframes opacityAn {
  100% {
    stroke-opacity: 1;
  }
}
@keyframes completeLine {
  0% {
    stroke-dashoffset: 3000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes completeLineRev {
  0% {
    stroke-dashoffset: 3000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
/* 
.lineD2 {
  animation-delay: 0.2s !important;
}
.lineD3 {
  animation-delay: 0.4s !important;
}
.lineD4 {
  animation-delay: 0.6s !important;
}
.lineD5 {
  animation-delay: 0.8s !important;
}
.lineD6 {
  animation-delay: 1s !important;
}
.lineD7 {
  animation-delay: 1.2s !important;
}
.lineD8 {
  animation-delay: 1.4s !important;
}
.lineD9 {
  animation-delay: 1.6s !important;
}

.curveD2 {
  animation-delay: 3.2s !important;
}

.curveD3 {
  animation-delay: 3.4s !important;
}
.curveD4 {
  animation-delay: 3.6s !important;
}
.curveD5 {
  animation-delay: 3.8s !important;
}
.curveD6 {
  animation-delay: 3s !important;
}
.curveD7 {
  animation-delay: 9s !important;
}
.curveD8 {
  animation-delay: 4.4s !important;
}
.curveD9 {
  animation-delay: 4.6s !important;
}
.curveD10 {
  animation-delay: 4.8s !important;
}
.curveD11 {
  animation-delay: 5s !important;
}
.curveD12 {
  animation-delay: 5.2s !important;
}
.curveD13 {
  animation-delay: 5.4s !important;
} */
